<div class="container mt-5 text-center">
  <h2>文字認識する画像を選択</h2>
  <div class="w-50 mx-auto mt-3">
    <%= form_with model: @post do |f| %>
      <div class="form-group">
        <%= f.file_field :image, id: 'uploader', class: "form-control mb-3" %>
        <%= f.submit '画像を保存', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="d-flex mt-5">
    <div class="w-50 border text-center">
      <p class="text-center border fw-bold fs-2">アップロード画像</p>
      <div id="showImage" class="w-100 p-2"></div>
    </div>
    <div class="w-50 border">
      <p class="text-center border fw-bold fs-2">レスポンス</p>
      <div id="showResponse" class="w-100 p-2"></div>
    </div>
  </div>
</div>

<script>
  const vision_api_key = gon.vision_api_key
  const vision_api_url = 'https://vision.googleapis.com/v1/images:annotate?key='
  const api_url = vision_api_url + vision_api_key

  $("#uploader").change(function(){
    clear();
    getImageInfo();
  })

  function clear(){
    $("#responseText").remove();
  }

  function getImageInfo() {
    var target = this.event.target;
    var file = target.files[0];
    var dataUrl = "";
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function(){
      dataUrl = reader.result;
      $("#showImage").html("<img src='" + dataUrl + "' class='w-100 p-2'>");
      makeRequest(dataUrl,getAPIInfo);
    }
  }

  function makeRequest(dataUrl,callback){
    var end = dataUrl.indexOf(",")
    var request = "{'requests': [{'image': {'content': '" + dataUrl.slice(end + 1) + "'},'features': [{'type':'TEXT_DETECTION'}]}]}"
    callback(request)
  }

  function getAPIInfo(request){
    $.ajax({
        url : api_url,
        type : 'POST',       
        async : true,        
        cashe : false,
        data: request, 
        dataType : 'json', 
        contentType: 'application/json',   
    }).done(function(result){
      showResult(result);
    }).fail(function(result){
      alert('ajax通信に失敗しました');
    });
  }

  function showResult(result){
    if(result.responses[0].textAnnotations){
      $("#showResponse").append("<span id='responseText'>" + result.responses[0].textAnnotations[0].description + "</span>")
    }else{
      $("#showResponse").append("<p id='responseText'>文字が見つかりませんでした</p>")
    }
  }
</script>